<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DietPatcher</display-name>
  <welcome-file-list>
    <welcome-file>LoginForm.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>controller.Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>controller.ProfileServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>MealPlanFoodChooserServlet</servlet-name>
    <servlet-class>controller.MealPlanFoodChooserServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>MealPlanAdderServlet</servlet-name>
    <servlet-class>controller.MealPlanAdderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealPlanDateServlet</servlet-name>
    <servlet-class>controller.MealPlanDateServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>MealPlanRSAndStatistics</servlet-name>
    <servlet-class>controller.MealPlanRSAndStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealPlanRSAndStatistics</servlet-name>
    <url-pattern>/MealPlanRSAndStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealPlanDateServlet</servlet-name>
    <url-pattern>/MealPlanDateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealPlanAdderServlet</servlet-name>
    <url-pattern>/MealPlanAdderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealPlanFoodChooserServlet</servlet-name>
    <url-pattern>/MealPlanFoodChooserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>